.spaceBlock {
    position: relative;
    transition: transform 0.8s ease-in-out;
}

.spaceBlock.animation {
    transform: translateY(7px);
}

.spaceBlock img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    transition: opacity 0.15s ease-in-out;
}

.spaceBlock img.active {
    opacity: 1;
}