.newEggModalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.newEggModalContainer {
    width: calc(290px);
    margin: 0 15px 0px;
    border: 2.5px solid #111111;
    border-radius: 2px;
    backdrop-filter: blur(2px);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
}

.newEggModalContent {
    text-align: left;
}
.newEggModalContent h2{
    margin: 0 0 5px;
}
.newEggCongratulationsText{
    margin: 0 0 10px 0;
}
.newEggCongratulationsRarity{
    margin: 0;
}
.egg {
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
}
@keyframes gradientAnimation {
    0% {
        background-position: 80% 50%;
    }
    100% {
        background-position: -110% 50%;
    }
}
.common {
    background: linear-gradient(to right, #838383, #313131, #313131, #838383);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 2s linear infinite;
}

.rare {
    background: linear-gradient(to right, #557ede, #172d5d, #172d5d,  #557ede);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 2s linear infinite;
}

.epic {
    background: linear-gradient(to right, #8532a4, #4d185e, #4d185e, #8532a4);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 2s linear infinite;
}

.mythical {
    background: linear-gradient(to right, #d70b0b, #731010, #731010, #d70b0b);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 2s linear infinite;
}


.legendary {
    background: linear-gradient(to right, #d3b510, #816a15, #816a15, #d3b510);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 2s linear infinite;
}

.newEggModalContent img {
    width: 114px;
    max-width: 100%;
    height: auto;
}
.newEggModalContentNote{
    font-size: 14px;
    margin-bottom: 15px;
}
.newEggModalContent button {
    text-align: center;
    display: flex;
    align-self: center;
    margin: 10px auto 0;
    padding: 7px 35px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    border: 2.5px solid #111111;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}


.newEggEggBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 35px);
    margin: 15px 0;
    padding: 7px 15px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: 2.5px solid #111111;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}
.newEggEggBlock p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.newEggEggBlock img{
    width: 55px;
}
.newEggEggRarity{
    margin: 10px 0 0;
}
.newEggEggRarity b{
    font-weight: 900;
}