.navBarBlock {
    position: fixed;
    bottom: 18px;
    width: calc(100% - 30px);
    margin: 0 auto;
    height: 45px;
    z-index: 10;
    border-radius: 18px;
    backdrop-filter: blur(2px);
    background-color: rgba(131, 176, 218, 0.06);
    border: 1px solid rgba(157, 173, 228, 0.22);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarLink {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navBarLink:last-child {
    border-right: 0;
}

.navBarLink img {
    height: 31px;
}
.navBarLink p {
    color: #f3f3f3;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.navBarLink.active {

}