.profile-screen {
    text-align: center;
    background-image: url('../../img/background/profileScreenBg.png');
    background-size: cover;
    background-position: center;
}
.topUsersScreen-screen{
    text-align: center;
    background-image: url('../../img/background/topUsers.png');
    background-size: cover;
    background-position: center;
}
.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.products-block{
    display: flex;
    width: calc(100% - 26px);
    margin: 18px auto 10px;
    flex-direction: column;
}
.profile-info-block{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(100% - 30px);
    align-items: flex-start;
    border: 2px solid #111111;
    backdrop-filter: blur(2px);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.profile-info-block h2{
    font-size: 17px;
    margin: 7px 0;
}
.profile-info-block p{
    font-size: 14px;
    margin: 2px 0;
}
.product-item{
    display: flex;
    width: calc(100% - 30px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2.5px solid #111111;
    backdrop-filter: blur(2px);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 15px;
    margin-bottom: 15px;
}
.product-item div{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.product-item img{
    height: 35px;
    margin-right: 15px;
}
.profile-info-block{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(100% - 35px);
    align-items: flex-start;
    border: 2.5px solid #111111;
    backdrop-filter: blur(2px);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 15px 8px;
}
.profile-info-score{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.profile-info-score p{
    font-size: 14px;
}
.profile-info-score b{
    font-size: 15px;
    margin: 0 3px;
}
.profile-info-score img{
    width: 18px;
    margin: 0 3px;
}
.profile-info-league{
    display: flex;
    align-items: flex-start;
}
.profile-info-league b{
    margin-left: 5px;
}
.topUsersBlock{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 35px);
    border: 2.5px solid #111111;
    backdrop-filter: blur(2px);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 15px 8px;
    text-decoration: none;
    color: black;
}
.topUsersLink{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 5px;
    min-width: 65px;
    border: 2.5px solid #111111;
    backdrop-filter: blur(2px);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px 10px 8px;
    text-decoration: none;
    color: black;
}
.topUsersDescription{
    font-size: 14px;
    margin: 7px 0 5px 0;
}
.topUsersBlockInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px 0 0 0;
    justify-content: space-between;
    align-items: center;
}
.topUsersBlockInfo div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.topUsersBlockInfo:last-child{
    margin: 0;
    justify-content: flex-end;
    align-items: center;

}
.topUsersBlock img{
    width: 31px;
    margin-left: 10px;
 }

.profile-info-block h2{
    font-size: 17px;
    margin: 7px 0;
}
.profile-info-block p{
    font-size: 14px;
    margin: 2px 0;
}
.profile-info-block button{
    font-family: "Pixelify Sans", serif;
    align-self: self-end;
    font-size: 14px;
    margin: 0 0 2px;
    color: black;
    border: 2.5px solid #111111;
    backdrop-filter: blur(2px);
    border-radius: 2px;
    background-color: rgba(188, 188, 188, 0.5);
    padding: 8px 15px;
}
.top-users-text{
    margin: 0 0 0 15px;
}

.top-users-list{
    width: calc(100% - 30px);
    margin-top: 5px;
}
.top-user-block{
    width: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 15px;
    border-bottom: 1px solid #6e6e6e;
}
.top-user-block:last-child{
    border-bottom: 0 solid #111111;
}
.top-user-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.after-fourth-user-place{
    margin-right: 10px;
    font-size: 15px;
}
.top-user-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.top-user-title-score{
    width: 100%;
    margin-left: 5px;
}
.top-user-score{
    text-align: right;
}
.top-user-block img{
    margin: 0 10px 0 0;
    width: 25px;
    height: 33px;
}
.product-item{
    display: flex;
    width: calc(100% - 30px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #111111;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 15px;
    margin-bottom: 15px;
}
.product-item div{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.product-item img{
    height: 35px;
    margin-right: 15px;
}
.ownEggBlock{
    display: flex;
    flex-direction: column;
    border: 2.5px solid #111111;
    border-radius: 2px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 15px;
}
.ownEggBlock h2{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0 15px;
}
.ownEgg{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 30px);
    margin: 0 0 10px;
    padding: 7px 15px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.ownEgg p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.ownEgg img{
    width: 55px;
}
.newEggRarityBlock{
    margin-top: 3px;
}