body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 550px;
  height: 100%;
}

code {
  font-family: "Lexend", sans-serif;
}
